<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Crypto Cloud Client</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<script th:inline="javascript">
$.ajaxSetup({
	  contentType: "application/json; charset=utf-8"
	});
/*<![CDATA[*/
	
$(function() { 
	
	 $("#success").hide();
	 $("#error").hide()
	
});

function onGet(filename) {
	
	var request={};
	request.username=[[${username}]];
	request.filename=$('#downloadDirectory').val()+filename;
   	console.log(JSON.stringify(request));
   	$.post('/file/get',JSON.stringify(request))
   	 .done(function( data ) {
   		 	console.log('success');
    	    $("#success").hide().show('medium');
    	    $("#success").text("Download file "+request.filename+" started!")
    	    setTimeout(function(){  $("#success").hide();}, 3000);

 	 }).fail(function (jqXHR, textStatus) {
 		console.log('error');
	    $("#error").hide().show('medium');
	    $("#error").text("Download file "+result.filename+" error! status "+textStatus);
	    setTimeout(function(){  $("#error").hide();}, 3000);
	   });
}

function onPut() {
	
	var request={};
	request.username=[[${username}]];
	request.filename=$('#uploadFile').val();
   	console.log(JSON.stringify(request));
   	$.post('/file/put',JSON.stringify(request))
   	 .done(function( data ) {
   		 	console.log('success');
    	    $("#success").hide().show('medium');
    	    $("#success").text("Upload file "+request.filename+" started!")
    	    setTimeout(function(){  $("#success").hide();}, 3000);

 	 }).fail(function (jqXHR, textStatus) {
 		console.log('error');
	    $("#error").hide().show('medium');
	    $("#error").text("Upload file "+result.filename+" error! status "+textStatus);
	    setTimeout(function(){  $("#error").hide();}, 3000);
	   });
}

/*]]>*/
</script>
<body>
	<div class="container-fluid" style="margin: 1%;">

		<h1>Crytpo Cloud Panel</h1>
		<p>
			User <span class="badge bg-primary" th:text="${username}"></span>
			using key <span class="badge bg-info text-dark" th:text="${key}"></span>
		</p>
		<div class="row">
			<div class="col-12">
				<div class="col-6 alert alert-success alert-dismissable" id="success">
				</div>
				<div class="col-6 alert alert-dangeer alert-dismissable" id="error">

				</div>
			</div>
			<div class=" col-5">
				<p class="badge bg-light text-dark">Download from cloud</p>
				<div class="col-12" style="margin-bottom: 10px;">
					<label for="exampleInputEmail1" class="form-label">Download
						Directory</label> <input type="text" class="form-control"
						 placeholder="/tmp/"
						id="downloadDirectory">
				</div>
				<p class="badge bg-light text-dark">File Available</p>
				<div class="col-12 list-group" th:each="file: ${files}">
					<button th:onclick="onGet([[${file.filename}]]);"
						class="list-group-item list-group-item-action">
						<p th:text="${file.filename}" />
					</button>
				</div>
			</div>
			<div class=" col-5">
				<p class="badge bg-light text-dark">Upload to cloud</p>
				<div class="col-12" style="margin-bottom: 10px;">
					<label for="exampleInputEmail1" class="form-label">Upload File</label> 
					<input type="text" class="form-control" placeholder="/fullpath/fileToUpload.txt"
						id="uploadFile">
				</div>
				<div class="col-12">
					<button type="button"  class="btn btn-primary"  onclick="onPut()">Upload</button>

				</div>
		</div>
	</div>
</body>
</html>